# ignore database files
*.db
# ignore all files in the data directory
dataset/*
# ignore all files in the logs directory
logs/*
# ignore all files in the temp directory
temp/*
# ignore all files in the cache directory
cache/*

src/precomputed_embeddings/*